In [20]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_pickle("allData.pkl")

In [5]:
dataset

,timestamp,cpu_system,cpu_idle,cpu_user,cpu_iowait,pod_count,system_load,mem_total,mem_avail,disk_io,...,label,year,month,day,hour,minute,second,cpu_total,cpu_user_rate,cpu_system_rate
0,1.629576e+09,0.024000,0.906000,0.052667,0.000333,6.0,0.12,1.911521e+09,2.174521e+09,0.005067,...,1,2021,8,21,20,6,0,0.094000,0.560284,0.255319
1,1.629576e+09,0.024000,0.906000,0.052667,0.000333,6.0,0.12,1.911521e+09,2.174521e+09,0.005067,...,1,2021,8,21,20,6,8,0.094000,0.560284,0.255319
2,1.629576e+09,0.034333,0.895667,0.045667,0.003000,6.0,0.10,1.911755e+09,2.174288e+09,0.010400,...,1,2021,8,21,20,6,16,0.104333,0.437700,0.329073
3,1.629576e+09,0.034333,0.895667,0.045667,0.003000,6.0,0.10,1.911755e+09,2.174288e+09,0.010400,...,1,2021,8,21,20,6,24,0.104333,0.437700,0.329073
4,1.629576e+09,0.025000,0.908000,0.045000,0.000000,6.0,0.07,1.911210e+09,2.174833e+09,0.000800,...,1,2021,8,21,20,6,32,0.092000,0.489130,0.271739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170125,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,...,0,2021,8,21,19,59,24,1.000000,0.000000,0.000000
170126,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,...,0,2021,8,21,19,59,32,1.000000,0.000000,0.000000
170127,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,...,0,2021,8,21,19,59,40,1.000000,0.000000,0.000000
170128,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,...,0,2021,8,21,19,59,48,1.000000,0.000000,0.000000
170129,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,...,0,2021,8,21,19,59,56,1.000000,0.000000,0.000000

In [6]:
print("Data Shape",dataset.shape)
print("Label counts:")
print(dataset["label"].value_counts())
print("8 data item per 1 minute")
print((dataset.shape[0] / 8)/60," hours")
print(((dataset.shape[0] / 8)/60)/24," days")
print("Num of data item with 10 min:",(dataset.shape[0] / 8)/10)

Data Shape (170130, 24)
Label counts:
1    124212
0     45918
Name: label, dtype: int64
8 data item per 1 minute
354.4375  hours
14.768229166666666  days
Num of data item with 10 min: 2126.625

In [14]:
dataset.columns

Index(['timestamp', 'cpu_system', 'cpu_idle', 'cpu_user', 'cpu_iowait',
       'pod_count', 'system_load', 'mem_total', 'mem_avail', 'disk_io',
       'disk_space_used', 'net_received', 'net_transmit', 'node', 'label',
       'year', 'month', 'day', 'hour', 'minute', 'second', 'cpu_total',
       'cpu_user_rate', 'cpu_system_rate'],
      dtype='object')

In [15]:
del dataset["year"]
del dataset["month"]
del dataset["day"]
del dataset["hour"]
del dataset["minute"]
del dataset["cpu_total"]
del dataset["cpu_user_rate"]
del dataset["cpu_system_rate"]

In [16]:
dataset.columns

Index(['timestamp', 'cpu_system', 'cpu_idle', 'cpu_user', 'cpu_iowait',
       'pod_count', 'system_load', 'mem_total', 'mem_avail', 'disk_io',
       'disk_space_used', 'net_received', 'net_transmit', 'node', 'label',
       'second'],
      dtype='object')

In [17]:
dataset["node"] = dataset["node"].apply(lambda x : "tan-k2" if x==2 else "tan-k3" if x==3 else "tan-km" if x==1 else x)

In [18]:
dataset

,timestamp,cpu_system,cpu_idle,cpu_user,cpu_iowait,pod_count,system_load,mem_total,mem_avail,disk_io,disk_space_used,net_received,net_transmit,node,label,second
0,1.629576e+09,0.024000,0.906000,0.052667,0.000333,6.0,0.12,1.911521e+09,2.174521e+09,0.005067,0.534038,951905.066667,899240.000000,tan-k2,1,0
1,1.629576e+09,0.024000,0.906000,0.052667,0.000333,6.0,0.12,1.911521e+09,2.174521e+09,0.005067,0.534038,951905.066667,899240.000000,tan-k2,1,8
2,1.629576e+09,0.034333,0.895667,0.045667,0.003000,6.0,0.10,1.911755e+09,2.174288e+09,0.010400,0.534295,771843.200000,541984.000000,tan-k2,1,16
3,1.629576e+09,0.034333,0.895667,0.045667,0.003000,6.0,0.10,1.911755e+09,2.174288e+09,0.010400,0.534295,771843.200000,541984.000000,tan-k2,1,24
4,1.629576e+09,0.025000,0.908000,0.045000,0.000000,6.0,0.07,1.911210e+09,2.174833e+09,0.000800,0.534296,849244.266667,771101.333333,tan-k2,1,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170125,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,tan-k3,0,24
170126,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,tan-k3,0,32
170127,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,tan-k3,0,40
170128,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,tan-k3,0,48
170129,1.629576e+09,0.000000,0.000000,0.000000,0.000000,2.0,0.00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,tan-k3,0,56

In [28]:
lsTimeUnique = np.unique(["1629576360","1629487770","1629797400","1629944340","1629810600","1629660180","1629634500","1629660180","1629793080","1629876780","1629397800","1629397800","1629876780","1629797400","1629713460","1629793080","1629978780","1629944340","1629367800","1629367800","1629576360","1629612720","1629944340","1629314880","1629634500","1629487770","1629797400","1629487770","1629489780","1629576360","1629397800","1629461730","1629978780","1629461730","1629489780","1629660180","1629612720","1629314880","1629793080","1629713460","1629978780","1629876780","1629612720","1629810600","1629634500","1629713460","1629314880","1629810600","1629367800","1629489780"])
lsTimeUnique = np.sort(lsTimeUnique.astype(np.float))

In [31]:
lsTimeUnique

array([1.62931488e+09, 1.62936780e+09, 1.62939780e+09, 1.62946173e+09,
       1.62948777e+09, 1.62948978e+09, 1.62957636e+09, 1.62961272e+09,
       1.62963450e+09, 1.62966018e+09, 1.62971346e+09, 1.62979308e+09,
       1.62979740e+09, 1.62981060e+09, 1.62987678e+09, 1.62994434e+09,
       1.62997878e+09])

In [32]:
# 8-1629576360-tan-k2-1.pkl
# 8-1629487770-tan-k3-0.pkl
# 8-1629797400-tan-k3-0.pkl
# 8-1629944340-tan-k3-0.pkl
# 8-1629810600-tan-km-1.pkl
# 8-1629660180-tan-km-1.pkl
# 8-1629634500-tan-k3-0.pkl
# 8-1629660180-tan-k2-1.pkl
# 8-1629793080-tan-k2-1.pkl
# 8-1629876780-tan-km-1.pkl
# 8-1629397800-tan-k2-1.pkl
# 8-1629397800-tan-km-1.pkl
# 8-1629876780-tan-k2-1.pkl
# 8-1629797400-tan-k2-1.pkl
# 8-1629713460-tan-km-1.pkl
# 8-1629793080-tan-km-1.pkl
# 8-1629978780-tan-k3-0.pkl
# 8-1629944340-tan-k2-1.pkl
# 8-1629367800-tan-km-1.pkl
# 8-1629367800-tan-k2-1.pkl
# 8-1629576360-tan-k3-0.pkl
# 8-1629612720-tan-km-1.pkl
# 8-1629944340-tan-km-1.pkl
# 8-1629314880-tan-km-1.pkl
# 8-1629634500-tan-k2-1.pkl
# 8-1629487770-tan-k2-1.pkl
# 8-1629797400-tan-km-1.pkl
# 8-1629487770-tan-km-1.pkl
# 8-1629489780-tan-km-1.pkl
# 8-1629576360-tan-km-1.pkl
# 8-1629397800-tan-k3-1.pkl
# 8-1629461730-tan-k2-1.pkl
# 8-1629978780-tan-k2-1.pkl
# 8-1629461730-tan-k3-0.pkl
# 8-1629489780-tan-k2-1.pkl
# 8-1629660180-tan-k3-0.pkl
# 8-1629612720-tan-k3-0.pkl
# 8-1629314880-tan-k2-1.pkl
# 8-1629793080-tan-k3-0.pkl
# 8-1629713460-tan-k3-0.pkl
# 8-1629978780-tan-km-1.pkl
# 8-1629876780-tan-k3-0.pkl
# 8-1629612720-tan-k2-1.pkl
# 8-1629810600-tan-k3-0.pkl
# 8-1629634500-tan-km-1.pkl
# 8-1629713460-tan-k2-1.pkl
# 8-1629314880-tan-k3-1.pkl
# 8-1629810600-tan-k2-1.pkl
# 8-1629367800-tan-k3-1.pkl
# 8-1629489780-tan-k3-0.pkl

In [38]:
lsTimeUnique

array([1.62931488e+09, 1.62936780e+09, 1.62939780e+09, 1.62946173e+09,
       1.62948777e+09, 1.62948978e+09, 1.62957636e+09, 1.62961272e+09,
       1.62963450e+09, 1.62966018e+09, 1.62971346e+09, 1.62979308e+09,
       1.62979740e+09, 1.62981060e+09, 1.62987678e+09, 1.62994434e+09,
       1.62997878e+09])

In [46]:
nodeList = list(dataset["node"].unique())

In [66]:
rootPath = "Recover"
for n in range(0,len(nodeList)):
# for n in range(2,3):
    print(nodeList[n])
    for tm in range(0,len(lsTimeUnique)-1):
#         print(lsTimeUnique[tm])
        dstore = dataset[(dataset["timestamp"]>= lsTimeUnique[tm] ) & (dataset["timestamp"]< lsTimeUnique[tm+1]) & (dataset["node"]==nodeList[n])]
        lens = dstore.shape[0]
        if lens == 0 :
            continue
        lenLabel = len(dstore["label"].unique())
        if lenLabel !=1 :
            print("Error happens")
            break
        tag = dstore["label"].unique()[0]
        fileName = "8-" + str(int(lsTimeUnique[tm]))+"-"+nodeList[n]+"-"+str(tag)+".pkl"
        dstore.to_pickle(rootPath+"/"+fileName)
#         print(fileName)

tan-k2
tan-k3
tan-km

In [41]:
dataset[(dataset["timestamp"]>= lsTimeUnique[0] ) & (dataset["timestamp"]< lsTimeUnique[1]) & (dataset["node"]=="tan-km")]

,timestamp,cpu_system,cpu_idle,cpu_user,cpu_iowait,pod_count,system_load,mem_total,mem_avail,disk_io,disk_space_used,net_received,net_transmit,node,label,second
69240,1.629346e+09,0.000000,0.000000,0.000000,0.000000,0.0,0.34,2.144076e+09,1.941967e+09,0.000000,0.834817,0.000000,0.000000,tan-km,1,8
69241,1.629346e+09,0.000000,0.000000,0.000000,0.000000,7.0,0.34,2.144076e+09,1.941967e+09,0.000000,0.834817,0.000000,0.000000,tan-km,1,16
69242,1.629346e+09,0.074000,0.862667,0.089000,0.000333,7.0,0.26,2.144354e+09,1.941688e+09,0.000800,0.834818,108642.133333,848686.400000,tan-km,1,24
69243,1.629346e+09,0.074000,0.862667,0.089000,0.000333,7.0,0.26,2.144354e+09,1.941688e+09,0.000800,0.834818,108642.133333,848686.400000,tan-km,1,32
69244,1.629346e+09,0.070667,0.875000,0.092000,0.000333,7.0,1.16,2.144449e+09,1.941594e+09,0.002400,0.834818,121331.733333,764842.133333,tan-km,1,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71110,1.629361e+09,0.059667,0.839000,0.092000,0.000333,7.0,0.40,2.178286e+09,1.907757e+09,0.003200,0.832799,115214.933333,807604.800000,tan-km,1,28
71111,1.629361e+09,0.059667,0.839000,0.092000,0.000333,7.0,0.40,2.178286e+09,1.907757e+09,0.003200,0.832799,115214.933333,807604.800000,tan-km,1,36
71112,1.629361e+09,0.055667,0.868667,0.075000,0.001333,7.0,0.38,2.178294e+09,1.907749e+09,0.005867,0.832800,136538.133333,850335.466667,tan-km,1,44
71113,1.629361e+09,0.055667,0.856667,0.087333,0.001333,7.0,0.46,2.178707e+09,1.907335e+09,0.008267,0.832800,114173.333333,890742.933333,tan-km,1,52
71114,1.629361e+09,0.055667,0.856667,0.087333,0.001333,7.0,0.46,2.178707e+09,1.907335e+09,0.008267,0.832800,114173.333333,890742.933333,tan-km,1,0

In [70]:
from os import listdir
from os.path import isfile, join

In [71]:
def viewAllDataFromFolder(dataPath,prefix):
    onlyfiles = [f for f in listdir(dataPath) if isfile(join(dataPath, f))]
    count = 0
    fileLs = []
    lsBdTrain = None
    dataList = []
    for fs in onlyfiles:
        if fs[:2]==prefix:
            print(fs)
            count = count + 1
            dataItem = pd.read_pickle(dataPath+"/"+fs)
            dataList.append(dataItem)
    frame = pd.concat(dataList)
    return frame

In [72]:
ckdataset = viewAllDataFromFolder("Recover/","8-")
#Good Result at 1629489780:

8-1629576360-tan-k2-1.pkl
8-1629487770-tan-k3-0.pkl
8-1629797400-tan-k3-0.pkl
8-1629944340-tan-k3-0.pkl
8-1629810600-tan-km-1.pkl
8-1629660180-tan-km-1.pkl
8-1629634500-tan-k3-0.pkl
8-1629660180-tan-k2-1.pkl
8-1629793080-tan-k2-1.pkl
8-1629876780-tan-km-1.pkl
8-1629397800-tan-k2-1.pkl
8-1629397800-tan-km-1.pkl
8-1629876780-tan-k2-1.pkl
8-1629797400-tan-k2-1.pkl
8-1629713460-tan-km-1.pkl
8-1629793080-tan-km-1.pkl
8-1629944340-tan-k2-1.pkl
8-1629367800-tan-km-1.pkl
8-1629367800-tan-k2-1.pkl
8-1629576360-tan-k3-0.pkl
8-1629612720-tan-km-1.pkl
8-1629944340-tan-km-1.pkl
8-1629314880-tan-km-1.pkl
8-1629634500-tan-k2-1.pkl
8-1629487770-tan-k2-1.pkl
8-1629797400-tan-km-1.pkl
8-1629487770-tan-km-1.pkl
8-1629489780-tan-km-1.pkl
8-1629576360-tan-km-1.pkl
8-1629397800-tan-k3-1.pkl
8-1629461730-tan-k2-1.pkl
8-1629461730-tan-k3-0.pkl
8-1629489780-tan-k2-1.pkl
8-1629660180-tan-k3-0.pkl
8-1629612720-tan-k3-0.pkl
8-1629314880-tan-k2-1.pkl
8-1629793080-tan-k3-0.pkl
8-1629713460-tan-k3-0.pkl
8-1629876780-tan-k3-0.pkl
8-1629612720-tan-k2-1.pkl
8-1629810600-tan-k3-0.pkl
8-1629634500-tan-km-1.pkl
8-1629713460-tan-k2-1.pkl
8-1629314880-tan-k3-1.pkl
8-1629810600-tan-k2-1.pkl
8-1629367800-tan-k3-1.pkl
8-1629489780-tan-k3-0.pkl

In [73]:
print("Data Shape",dataset.shape)
print("Label counts:")
print(dataset["label"].value_counts())
print("8 data item per 1 minute")
print((dataset.shape[0] / 8)/60," hours")
print(((dataset.shape[0] / 8)/60)/24," days")
print("Num of data item with 10 min:",(dataset.shape[0] / 8)/10)

Data Shape (170130, 16)
Label counts:
1    124212
0     45918
Name: label, dtype: int64
8 data item per 1 minute
354.4375  hours
14.768229166666666  days
Num of data item with 10 min: 2126.625